h1 {
    color: rgb(109, 109, 252);
    text-align: center;
    margin-bottom: 1em;
}

button {
    background-color: rgb(109, 109, 252);
    font-size: large;
}

body {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

button:hover {
    background-color: rgb(240, 75, 130);
}

.displays {
    float: right;
    width: 50%;
}

p {
    font-size: 2.5em;
}

.one {
    justify-content: center;
}

.col-3 .greetBtn {
    color: white !important;
}

html {
    border: 0.2em;
    border-style: solid;
    margin: 5em;
    padding: 2em;
    height: 40%;
    justify-content: center;
    text-align: center;
}

.display {
    text-align: center;
    margin-bottom: 1em;
    color: rgb(20, 1, 5);
    font-style: italic;
}

.countGreets{
height: 20%;
width: 20%;
}